@import url(https://fonts.googleapis.com/css?family=Big+Shoulders+Text:100,300,400,500,600,700,800,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap);





body {
  font-family: Heebo;
}
.display-1 {
  font-family: 'Big Shoulders Text', display;
  font-size: 4.4rem;
  line-height: 1.13636364;
}
.display-1 > .mbr-iconfont {
  font-size: 7.04rem;
}
.display-2 {
  font-family: 'Big Shoulders Text', display;
  font-size: 3.2rem;
  line-height: 1.171875;
}
.display-2 > .mbr-iconfont {
  font-size: 5.12rem;
}
.display-4 {
  font-family: 'Big Shoulders Text', display;
  font-weight: 400;
  font-size: 1.0625rem;
  line-height: 1.88235294;
}
.display-4 > .mbr-iconfont {
  font-size: 1.0625rem;
}
.display-5 {
  font-family: 'Amatic SC', handwriting;
  font-size: 2.2rem;
  line-height: 1.13636364;
}
.display-5 > .mbr-iconfont {
  font-size: 3.52rem;
}
.display-7 {
  font-family: 'Big Shoulders Text', display;
  font-size: 1.25rem;
  line-height: 1.6;
}
.display-7 > .mbr-iconfont {
  font-size: 2rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.52rem;
    font-size: calc( 2.19rem + (4.4 - 2.19) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.19rem + (4.4 - 2.19) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.56rem;
    font-size: calc( 1.77rem + (3.2 - 1.77) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.77rem + (3.2 - 1.77) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.76rem;
    font-size: calc( 1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1rem;
    font-size: calc( 1.0875rem + (1.25 - 1.0875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0875rem + (1.25 - 1.0875) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0 20px;
  border-radius: 4px;
}
.btn-sm {
  padding: 0 10px;
  border-radius: 4px;
}
.btn-md {
  padding: 0 20px;
  border-radius: 3px;
}
.btn-lg {
  padding: 0 20px;
  border-radius: 5px;
}
.bg-primary {
  background-color: #b6222c !important;
}
.bg-success {
  background-color: #a58866 !important;
}
.bg-info {
  background-color: #560156 !important;
}
.bg-warning {
  background-color: #b6222c !important;
}
.bg-danger {
  background-color: #f2e1cd !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #b6222c !important;
  border-color: #b6222c !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #b6222c;
  border-color: #b6222c;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #b6222c !important;
  border-color: #b6222c !important;
}
.btn-primary:hover {
  background-color: #8b1a22 !important;
  border-color: #8b1a22 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #67000a !important;
  border-color: #67000a !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #67000a;
  border-color: #67000a;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #67000a !important;
  border-color: #67000a !important;
}
.btn-secondary:hover {
  background-color: #340005 !important;
  border-color: #340005 !important;
}
.btn-info,
.btn-info:active {
  background-color: #560156 !important;
  border-color: #560156 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #560156;
  border-color: #560156;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #560156 !important;
  border-color: #560156 !important;
}
.btn-info:hover {
  background-color: #240024 !important;
  border-color: #240024 !important;
}
.btn-success,
.btn-success:active {
  background-color: #a58866 !important;
  border-color: #a58866 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #a58866;
  border-color: #a58866;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #a58866 !important;
  border-color: #a58866 !important;
}
.btn-success:hover {
  background-color: #886e50 !important;
  border-color: #886e50 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #b6222c !important;
  border-color: #b6222c !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #b6222c;
  border-color: #b6222c;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #b6222c !important;
  border-color: #b6222c !important;
}
.btn-warning:hover {
  background-color: #d9323d !important;
  border-color: #d9323d !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #f2e1cd !important;
  border-color: #f2e1cd !important;
  color: #986528 !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #986528 !important;
  background-color: #f2e1cd;
  border-color: #f2e1cd;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #986528 !important;
  background-color: #f2e1cd !important;
  border-color: #f2e1cd !important;
}
.btn-danger:hover {
  background-color: lighte(#f2e1cd, 10%) !important;
  border-color: #e7c9a5 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-white:hover {
  background-color: #f7f7f7 !important;
  border-color: #f7f7f7 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #333333;
  border-color: #333333;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-black:hover {
  background-color: #666666 !important;
  border-color: #666666 !important;
}
.btn-primary-outline {
  border: 1px solid;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #b6222c;
  color: #b6222c;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff !important;
  background: #b6222c !important;
  border-color: #b6222c;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #b6222c !important;
  border-color: #b6222c !important;
}
.btn-secondary-outline {
  border: 1px solid;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #67000a;
  color: #67000a;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff !important;
  background: #67000a !important;
  border-color: #67000a;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #67000a !important;
  border-color: #67000a !important;
}
.btn-info-outline {
  border: 1px solid;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #560156;
  color: #560156;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff !important;
  background: #560156 !important;
  border-color: #560156;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #560156 !important;
  border-color: #560156 !important;
}
.btn-success-outline {
  border: 1px solid;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #a58866;
  color: #a58866;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff !important;
  background: #a58866 !important;
  border-color: #a58866;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #a58866 !important;
  border-color: #a58866 !important;
}
.btn-warning-outline {
  border: 1px solid;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #b6222c;
  color: #b6222c;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff !important;
  background: #b6222c !important;
  border-color: #b6222c;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #b6222c !important;
  border-color: #b6222c !important;
}
.btn-danger-outline {
  border: 1px solid;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #f2e1cd;
  color: #f2e1cd;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #986528 !important;
  background: #f2e1cd !important;
  border-color: #f2e1cd;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #986528 !important;
  background-color: #f2e1cd !important;
  border-color: #f2e1cd !important;
}
.btn-black-outline {
  border: 1px solid;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #333333;
  color: #333333;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff !important;
  background: #333333 !important;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline {
  border: 1px solid;
}
.btn-white-outline,
.btn-white-outline:active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #808080 !important;
  background: #ffffff !important;
  border-color: #ffffff;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-white-outline.btn {
  color: #333333 !important;
}
.text-primary {
  color: #b6222c !important;
}
.text-secondary {
  color: #67000a !important;
}
.text-success {
  color: #a58866 !important;
}
.text-info {
  color: #560156 !important;
}
.text-warning {
  color: #b6222c !important;
}
.text-danger {
  color: #f2e1cd !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #601217 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #010000 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #68543d !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #000000 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #b6222c !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #ddb07c !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #666666 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #b6222c !important;
}
.alert-success {
  background-color: #a58866;
}
.alert-info {
  background-color: #560156;
}
.alert-warning {
  background-color: #b6222c;
}
.alert-danger {
  background-color: #f2e1cd;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none;
}
.mbr-gallery-filter li.active .btn {
  background-color: #b6222c;
  border-color: #b6222c;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #b6222c;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e5737a;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d4c6b6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #d402d4;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #e5737a;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Big Shoulders Text', display;
  font-size: 1.25rem;
  line-height: 1.6;
}
.form-control > .mbr-iconfont {
  font-size: 2rem;
}
blockquote {
  border-color: #b6222c;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #b6222c;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #b6222c;
  border-bottom-color: #b6222c;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #b6222c !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #67000a !important;
  box-shadow: none !important;
}
.sidebar-block .mbr-gallery-item .galleryItem .onsale {
  top: 0px;
}
.sidebar-block .mbr-gallery-item .galleryItem .sidebar_wraper {
  bottom: -35px;
  margin-left: 1rem;
}
.cid-s09Fajr9xm .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  color: #ff3366;
  top: 50%;
  font-size: 1rem;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: translateY(-50%) scale(0, 1);
  transform: translateY(-50%) scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-s09Fajr9xm .nav-item,
.cid-s09Fajr9xm .nav-link,
.cid-s09Fajr9xm .navbar-caption {
  font-weight: normal;
}
.cid-s09Fajr9xm .nav-item:focus,
.cid-s09Fajr9xm .nav-link:focus {
  outline: none;
}
@media (min-width: 992px) {
  .cid-s09Fajr9xm .dropdown-item:hover:before {
    -webkit-transform: translateY(-50%) scale(1, 1);
    transform: translateY(-50%) scale(1, 1);
    width: 1rem;
  }
  .cid-s09Fajr9xm .nav-item .nav-link {
    position: relative;
  }
  .cid-s09Fajr9xm .nav-item .nav-link:before {
    content: "";
    position: absolute;
    z-index: 3;
    left: 0;
    right: 100%;
    bottom: -0.2em;
    background: #ff3366;
    height: 3px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .cid-s09Fajr9xm .nav-item:hover .nav-link:before,
  .cid-s09Fajr9xm .nav-item.open .nav-link:before {
    right: 0;
  }
}
.cid-s09Fajr9xm .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.cid-s09Fajr9xm .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-s09Fajr9xm .dropdown .dropdown-menu .dropdown-item:hover {
  padding-right: 1rem;
  padding-left: 3rem;
}
.cid-s09Fajr9xm .dropdown .dropdown-menu .dropdown-item:hover .soc-item .mbr-iconfont:before {
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
.cid-s09Fajr9xm .dropdown .dropdown-menu .dropdown-item .soc-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-s09Fajr9xm .dropdown .dropdown-menu .dropdown-item .soc-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-s09Fajr9xm .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #ffffff;
  background: none;
}
.cid-s09Fajr9xm .navbar.opened {
  transition: all .3s;
  background: #ffffff !important;
}
.cid-s09Fajr9xm .navbar .dropdown-item {
  padding: .235rem 2rem;
}
.cid-s09Fajr9xm .navbar .navbar-collapse {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  z-index: 1;
  display: none !important;
}
@media (max-width: 991px) {
  .cid-s09Fajr9xm .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-s09Fajr9xm .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-s09Fajr9xm .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-s09Fajr9xm .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-s09Fajr9xm .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-s09Fajr9xm .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-s09Fajr9xm .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-s09Fajr9xm .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-s09Fajr9xm .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-s09Fajr9xm .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-s09Fajr9xm .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-s09Fajr9xm .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-s09Fajr9xm .navbar.navbar-short {
  background: #ffffff !important;
  min-height: 60px;
}
.cid-s09Fajr9xm .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-s09Fajr9xm .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-s09Fajr9xm .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-s09Fajr9xm .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-s09Fajr9xm .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-s09Fajr9xm .dropdown-item.active,
.cid-s09Fajr9xm .dropdown-item:active {
  background-color: transparent;
}
.cid-s09Fajr9xm .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-s09Fajr9xm .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-s09Fajr9xm .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-s09Fajr9xm .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
  z-index: 2;
}
.cid-s09Fajr9xm .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-s09Fajr9xm .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-s09Fajr9xm ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-s09Fajr9xm .navbar-buttons {
  text-align: center;
}
.cid-s09Fajr9xm button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-s09Fajr9xm button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #b6222c;
}
.cid-s09Fajr9xm button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-s09Fajr9xm button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-s09Fajr9xm button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-s09Fajr9xm button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-s09Fajr9xm nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s09Fajr9xm nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-s09Fajr9xm nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-s09Fajr9xm nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s09Fajr9xm .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-s09Fajr9xm a.nav-link {
  -webkit-justify-content: center;
  justify-content: center;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-s09Fajr9xm .soc-item .mbr-iconfont {
  font-size: 1rem;
  color: #67000a;
  display: inline-flex;
}
.cid-s09Fajr9xm .soc-item .mbr-iconfont:before {
  padding: .5rem;
  border: 1px solid;
  border-radius: 100px;
}
.cid-s09Fajr9xm .soc-item {
  margin: .5rem .3rem;
}
.cid-s09Fajr9xm .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-s09Fajr9xm a.nav-link .mbr-iconfont-btn,
.cid-s09Fajr9xm a.dropdown-item .mbr-iconfont-btn {
  margin-right: 10px;
}
.cid-s09Fajr9xm a.nav-link:hover .mbr-iconfont-btn,
.cid-s09Fajr9xm a.dropdown-item:hover .mbr-iconfont-btn {
  opacity: 0;
  margin-left: -20px;
}
.cid-s09Fajr9xm a.dropdown-item .mbr-iconfont-btn {
  margin-top: -4px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-s09Fajr9xm .navbar {
    height: 77px;
  }
  .cid-s09Fajr9xm .navbar.opened {
    height: auto;
  }
  .cid-s09Fajr9xm .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-s09D6cMoFl {
  overflow: hidden;
  padding-top: 2rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-s09D6cMoFl .container,
.cid-s09D6cMoFl .container-fluid {
  pointer-events: none;
}
.cid-s09D6cMoFl .mbr-section-subtitle,
.cid-s09D6cMoFl .mbr-section-title,
.cid-s09D6cMoFl .mbr-subtext,
.cid-s09D6cMoFl .mbr-text,
.cid-s09D6cMoFl .mbr-section-btn,
.cid-s09D6cMoFl .wrap__image {
  pointer-events: all;
}
@media (min-width: 992px) {
  .cid-s09D6cMoFl .title__block {
    padding-top: 70px;
  }
}
.cid-s09D6cMoFl .mbr-section-subtitle {
  letter-spacing: 1.5px;
  margin-bottom: 15px;
  color: #b6222c;
}
.cid-s09D6cMoFl .mbr-section-title {
  color: #b6222c;
  margin-bottom: 25px;
}
.cid-s09D6cMoFl .mbr-section-title span {
  font-weight: 300;
}
.cid-s09D6cMoFl .mbr-subtext {
  margin-bottom: 35px;
  color: #000000;
}
.cid-s09D6cMoFl .mbr-section-btn {
  margin-top: 60px;
}
.cid-s09D6cMoFl .image__block1 {
  display: inline-block;
  border-radius: 15px;
  max-width: 450px;
  max-height: 630px;
  overflow: hidden;
  box-shadow: 0px 45px 63px 0px rgba(100, 105, 122, 0.33);
}
.cid-s09D6cMoFl .image__block1 .image img {
  height: auto;
  max-width: 100%;
}
@media (max-width: 991px) {
  .cid-s09D6cMoFl .image__block1 {
    margin-top: 50px;
  }
}
@media (max-width: 767px) {
  .cid-s09D6cMoFl .image__block1 .image img {
    max-height: 450px;
  }
}
.cid-s09D6cMoFl .wrap__image {
  text-align: left;
}
@media (max-width: 991px) {
  .cid-s09D6cMoFl .wrap__image {
    text-align: right;
  }
  .cid-s09D6cMoFl .wrap__image .image__block2 {
    left: 165px;
  }
}
@media (max-width: 767px) {
  .cid-s09D6cMoFl .wrap__image {
    text-align: center !important;
  }
}
.cid-s09D6cMoFl .wrap__image {
  text-align: right;
}
@media (max-width: 991px) {
  .cid-s09D6cMoFl .wrap__image {
    text-align: left;
  }
  .cid-s09D6cMoFl .wrap__image .image__block2 {
    right: 165px;
  }
}
.cid-s09D6cMoFl .image__block2 {
  right: -165px;
  left: auto !important;
}
.cid-s09D6cMoFl .image__block2 {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 25px 50px 0px rgba(140, 140, 140, 0.33);
  position: absolute;
  z-index: -1;
  left: -165px;
  top: 50%;
  transform: translateY(-50%);
  max-width: 340px;
  max-height: 425px;
}
.cid-s09D6cMoFl .image__block2 .image img {
  height: auto;
  max-width: 100%;
}
@media (max-width: 767px) {
  .cid-s09D6cMoFl .image__block2 {
    display: none;
  }
}
.cid-s09D6cMoFl .image__background .circle__image1 {
  width: 960px;
  height: 960px;
  left: -290px;
  border-radius: 50%;
  top: 70px;
  position: absolute;
  background-color: rgba(182, 34, 44, 0.1);
}
@media (max-width: 1199px) {
  .cid-s09D6cMoFl .image__background .circle__image1 {
    width: 768px;
    height: 768px;
  }
}
@media (max-width: 991px) {
  .cid-s09D6cMoFl .image__background .circle__image1 {
    display: none;
  }
}
.cid-s09D6cMoFl .image__background .circle__image2 {
  width: 960px;
  height: 960px;
  left: -330px;
  border-radius: 50%;
  top: 0;
  z-index: 1;
  position: absolute;
  background-color: rgba(242, 225, 205, 0.23);
}
@media (max-width: 1199px) {
  .cid-s09D6cMoFl .image__background .circle__image2 {
    width: 768px;
    height: 768px;
  }
}
@media (max-width: 991px) {
  .cid-s09D6cMoFl .image__background .circle__image2 {
    display: none;
  }
}
.cid-s09D6cMoFl .animation__background .triangle {
  position: absolute;
  bottom: 9%;
  right: 14%;
  animation: rotatedHalf 40s infinite linear;
}
.cid-s09D6cMoFl .animation__background .circle1 {
  display: inline-block;
  width: 15px;
  height: 15px;
  top: 50px;
  right: 40%;
  border-radius: 50%;
  background: #a58866;
  position: absolute;
  animation: animationOne 25s infinite linear;
}
.cid-s09D6cMoFl .animation__background .circle2 {
  display: inline-block;
  width: 20px;
  height: 20px;
  top: 41%;
  right: 2%;
  position: absolute;
  border-radius: 50%;
  background-color: #560156;
  animation: scale__two 5s infinite linear;
}
.cid-s07bHoOzL5 {
  overflow: hidden;
  padding-top: 3rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-s07bHoOzL5 .container,
.cid-s07bHoOzL5 .container-fluid {
  pointer-events: none;
}
.cid-s07bHoOzL5 .mbr-section-subtitle,
.cid-s07bHoOzL5 .mbr-section-title,
.cid-s07bHoOzL5 .mbr-subtext,
.cid-s07bHoOzL5 .mbr-text,
.cid-s07bHoOzL5 .mbr-section-btn,
.cid-s07bHoOzL5 .wrap__image {
  pointer-events: all;
}
@media (min-width: 992px) {
  .cid-s07bHoOzL5 .title__block {
    padding-top: 70px;
  }
}
.cid-s07bHoOzL5 .mbr-section-subtitle {
  letter-spacing: 1.5px;
  margin-bottom: 15px;
  color: #b6222c;
}
.cid-s07bHoOzL5 .mbr-section-title {
  color: #b6222c;
  margin-bottom: 25px;
}
.cid-s07bHoOzL5 .mbr-section-title span {
  font-weight: 300;
}
.cid-s07bHoOzL5 .mbr-subtext {
  margin-bottom: 35px;
  color: #000000;
}
.cid-s07bHoOzL5 .mbr-section-btn {
  margin-top: 60px;
}
.cid-s07bHoOzL5 .image__block1 {
  display: inline-block;
  border-radius: 15px;
  max-width: 450px;
  max-height: 630px;
  overflow: hidden;
}
.cid-s07bHoOzL5 .image__block1 .image img {
  height: auto;
  max-width: 100%;
}
@media (max-width: 991px) {
  .cid-s07bHoOzL5 .image__block1 {
    margin-top: 50px;
  }
}
@media (max-width: 767px) {
  .cid-s07bHoOzL5 .image__block1 .image img {
    max-height: 450px;
  }
}
.cid-s07bHoOzL5 .wrap__image {
  text-align: left;
}
@media (max-width: 991px) {
  .cid-s07bHoOzL5 .wrap__image {
    text-align: right;
  }
  .cid-s07bHoOzL5 .wrap__image .image__block2 {
    left: 165px;
  }
}
@media (max-width: 767px) {
  .cid-s07bHoOzL5 .wrap__image {
    text-align: center !important;
  }
}
.cid-s07bHoOzL5 .animation__background .triangle {
  position: absolute;
  bottom: 9%;
  right: 14%;
  animation: rotatedHalf 40s infinite linear;
}
.cid-s07bHoOzL5 .animation__background .circle1 {
  display: inline-block;
  width: 15px;
  height: 15px;
  top: 50px;
  right: 40%;
  border-radius: 50%;
  background: #a58866;
  position: absolute;
  animation: animationOne 25s infinite linear;
}
.cid-s07bHoOzL5 .animation__background .circle2 {
  display: inline-block;
  width: 20px;
  height: 20px;
  top: 41%;
  right: 2%;
  position: absolute;
  border-radius: 50%;
  background-color: #560156;
  animation: scale__two 5s infinite linear;
}
.cid-s09MTNcNil {
  overflow: hidden;
  padding-top: 4rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-s09MTNcNil .container,
.cid-s09MTNcNil .container-fluid {
  pointer-events: none;
}
.cid-s09MTNcNil .icon__wrap,
.cid-s09MTNcNil .mbr-section-title,
.cid-s09MTNcNil .mbr-text,
.cid-s09MTNcNil .items__block,
.cid-s09MTNcNil .mbr-section-btn,
.cid-s09MTNcNil .image {
  pointer-events: all;
}
.cid-s09MTNcNil .image {
  text-align: center;
}
.cid-s09MTNcNil .image img {
  max-height: 700px;
  width: 72%;
  object-fit: cover;
}
.cid-s09MTNcNil .mbr-section-title {
  color: #233d63;
  margin-bottom: 40px;
}
.cid-s09MTNcNil .mbr-text {
  margin-bottom: 40px;
}
.cid-s09MTNcNil .items__block .item .mbr-iconfont {
  color: #b6222c;
  margin-right: 10px;
  font-size: 14px;
}
.cid-s09MTNcNil .mbr-section-btn {
  margin-top: 55px;
}
.cid-s09MTNcNil .icon__block {
  background: linear-gradient(135deg, rgba(165, 136, 102, 0.54) 0%, rgba(165, 136, 102, 0.85) 60%, #a58866 100%);
}
.cid-s09MTNcNil .animation__background .quadr {
  position: absolute;
  bottom: 36%;
  right: 23%;
  animation: animationOne 40s infinite linear;
  width: 60px;
  height: 60px;
}
.cid-s09MTNcNil .animation__background .circle1 {
  display: inline-block;
  width: 15px;
  height: 15px;
  top: 2%;
  left: 32%;
  border-radius: 50%;
  background: #a58866;
  position: absolute;
  animation: animationTwo 25s infinite linear;
}
.cid-s09MTNcNil .animation__background .circle2 {
  display: inline-block;
  width: 10px;
  height: 10px;
  left: 6%;
  top: 42%;
  position: absolute;
  border-radius: 50%;
  background-color: #b6222c;
  animation: animationOne 30s infinite linear;
}
.cid-s09MTNcNil .animation__background .circle3 {
  display: inline-block;
  width: 10px;
  height: 10px;
  left: 6%;
  bottom: 130px;
  position: absolute;
  border-radius: 50%;
  background-color: #560156;
  animation: animationTwo 30s infinite linear;
}
.cid-s09MTNcNil .animation__background .circle4 {
  display: inline-block;
  width: 15px;
  height: 15px;
  right: 12%;
  top: 23%;
  position: absolute;
  border-radius: 50%;
  background-color: #f2e1cd;
  animation: animationOne 25s infinite linear;
}
.cid-s09MTNcNil .animation__background .circle5 {
  display: inline-block;
  width: 10px;
  height: 10px;
  right: 40%;
  bottom: 15%;
  position: absolute;
  border-radius: 50%;
  background-color: #b6222c;
  animation: animationTwo 25s infinite linear;
}
.cid-s09MTNcNil .mbr-section-title,
.cid-s09MTNcNil .icon__wrap {
  color: #b6222c;
}
.cid-s09MTNcNil .item {
  color: #b40b15;
}
.cid-s09FuSPRtj {
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-color: #b6222c;
}
.cid-s09FuSPRtj .mbr-section-title {
  color: #233d63;
}
.cid-s09FuSPRtj .icon__block {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.54) 0%, rgba(255, 255, 255, 0.85) 60%, #ffffff 100%);
}
.cid-s09FuSPRtj .mbr-section-title,
.cid-s09FuSPRtj .icon__wrap {
  text-align: center;
  color: #ffffff;
}
.cid-s09FuSPRtj .mbr-section-subtitle {
  text-align: center;
}
.cid-s09GLDLTCb {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #b6222c;
}
.cid-s09GLDLTCb .row {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-s09GLDLTCb .text-black {
  font-weight: 800;
  letter-spacing: 0.1em;
}
.cid-s09GLDLTCb .btn {
  margin-bottom: 2rem;
}
.cid-s09GLDLTCb .mbr-text {
  color: #444;
  font-weight: 600;
  letter-spacing: 0.1em;
}
.cid-s09GLDLTCb .social-list {
  -webkit-justify-content: center;
  justify-content: center;
  display: flex;
  padding-left: 0;
  margin-bottom: 25px;
  list-style: none;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-s09GLDLTCb .social-list .mbr-iconfont-social {
  font-size: 2rem;
  color: black;
}
.cid-s09GLDLTCb .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-s09GLDLTCb .social-list a {
  margin: 0;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-s09GLDLTCb .social-list a:hover {
  opacity: .4;
}
@media (max-width: 767px) {
  .cid-s09GLDLTCb .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
@media (max-width: 575px) {
  .cid-s09GLDLTCb .mbr-text {
    text-align: center;
    margin-bottom: 2rem;
  }
}
.cid-s09GLDLTCb .links {
  color: #ffffff;
  text-align: center;
}
